html{
    background-image: url(./img/Fondo.jpg);
    background-color: #12213d;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: rgb(189, 185, 179);
    width: 380px;
    height: 550px;
    border-radius: 10%;
    text-align: center;
    margin: 50px auto 0px;
    padding: 30px;
    position: relative;
    border: rgb(134, 78, 13) solid 5px;
}

.search{
    position: absolute;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search > * {
    margin: 3px;
}

input{
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    font-size: 20px;
    height: 50px;
    width: 240px;
    border-radius: 10px;
    padding-left:10px;
    background-color: rgb(216, 210, 201);
    color: #172e5c;
}

input::placeholder{color: #172e5c;}

.submit{
    border: 0;
    outline: 0;
    background-color: rgb(216, 210, 201);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.weather{
    margin: 65px -35px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #102347;
}

.principal{position: relative; top: -20px;}

.img-weather{
    width: 200px;
    height: 200px;
}

.weather h1{font-size: 40px;}
.weather h2{
    font-size: 20px;
    position: relative;
    top: -15px;
}

.spec{
    padding: 12px 45px;
    padding-left: 35px;
    justify-content: space-between;
    display: flex;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.item{margin-right: 10px;}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}